test/install_sh/install.sh
test/download_sh/download.sh
ansible-mondoo/molecule/default/tests/__pycache__
.vagrant
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
**/terraform*/completed.txt
.terraform.tfstate.lock.info