name: Release Mondoo Container Image

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version that should be released'
        required: true
        default: '8.99.99'
        type: 'string'
      skip-publish:
        description: 'Skip publish?'
        required: false
        default: false
        type: boolean
  workflow_call:
    inputs:
      version:
        description: 'Version that should be released'
        required: true
        default: '8.99.99'
        type: 'string'
      skip-publish:
        description: 'Skip publish?'
        required: false
        default: false
        type: boolean

jobs:
  parse-inputs:
    uses: ./.github/workflows/parse_inputs.yml
    with:
      skip-publish: ${{ inputs.skip-publish }}
      version: ${{ inputs.version }}
  build_container:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: [ parse-inputs ] 
    name: Build Docker
    steps:
      - name: Clone repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Parse semver string
        id: semver
        uses: booxmedialtd/ws-action-parse-semver@7784200024d6b3fc01253e617ec0168daf603de3 # v1.4.7
        with:
          input_string: ${{ needs.parse-inputs.outputs.version }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          image: tonistiigi/binfmt:latest
          platforms: arm64,arm

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push root images
        if: ${{ needs.parse-inputs.outputs.skip-publish != 'true' }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          sbom: true
          provenance: true
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: VERSION=${{ needs.parse-inputs.outputs.version }}
          target: root
          tags: |
            mondoolabs/mondoo:${{ needs.parse-inputs.outputs.version }}
            mondoolabs/mondoo:${{ steps.semver.outputs.major }}
            mondoolabs/mondoo:latest
            mondoo/client:${{ needs.parse-inputs.outputs.version }}
            mondoo/client:${{ steps.semver.outputs.major }}
            mondoo/client:latest

      - name: Build and push devkit images
        if: ${{ needs.parse-inputs.outputs.skip-publish != 'true' }}
        # make it optional until we fixed https://github.com/mondoohq/cnquery/issues/3107
        continue-on-error: true
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          sbom: true
          provenance: true
          context: .
          file: Dockerfile-dev
          platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          push: true
          build-args: VERSION=${{ needs.parse-inputs.outputs.version }}
          target: root
          tags: |
            mondoo/devkit:${{ needs.parse-inputs.outputs.version }}
            mondoo/devkit:${{ steps.semver.outputs.major }}
            mondoo/devkit:latest

      - name: Build and push rootless images
        if: ${{ needs.parse-inputs.outputs.skip-publish != 'true' }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          sbom: true
          provenance: true
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          push: true
          build-args: VERSION=${{ needs.parse-inputs.outputs.version }}
          target: rootless
          tags: |
            mondoo/client:${{ needs.parse-inputs.outputs.version }}-rootless
            mondoo/client:${{ steps.semver.outputs.major }}-rootless
            mondoo/client:latest-rootless

      - name: Build and push root images (ubi)
        if: ${{ needs.parse-inputs.outputs.skip-publish != 'true' }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          sbom: true
          provenance: true
          context: .
          file: Dockerfile-ubi
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: VERSION=${{ needs.parse-inputs.outputs.version }}
          target: root
          tags: |
            mondoo/client:${{ needs.parse-inputs.outputs.version }}-ubi
            mondoo/client:${{ steps.semver.outputs.major }}-ubi
            mondoo/client:latest-ubi

      - name: Build and push rootless images (ubi)
        if: ${{ needs.parse-inputs.outputs.skip-publish != 'true' }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          sbom: true
          provenance: true
          context: .
          file: Dockerfile-ubi
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: VERSION=${{ needs.parse-inputs.outputs.version }}
          target: rootless
          tags: |
            mondoo/client:${{ needs.parse-inputs.outputs.version }}-ubi-rootless
            mondoo/client:${{ steps.semver.outputs.major }}-ubi-rootless
            mondoo/client:latest-ubi-rootless

