name: Update Docker Hub docs

on:
  workflow_dispatch:
  push:
    branches:
    - main
    paths:
    - 'dockerhub/**'

jobs:
  dockerhub_docs:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    name: Update Docker Hub docs
    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Update mondoolabs/mondoo DockerHub docs
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: mondoolabs/mondoo
          readme-filepath: ./dockerhub/mondoolabs/mondoo.md

      - name: Update mondoo/client DockerHub docs
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: mondoo/client
          readme-filepath: ./dockerhub/mondoo/client.md

      - name: Update mondoo/cnquery DockerHub docs
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: mondoo/cnquery
          readme-filepath: ./dockerhub/mondoo/cnquery.md

      - name: Update mondoo/cnspec DockerHub docs
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: mondoo/cnspec
          readme-filepath: ./dockerhub/mondoo/cnspec.md


