name: Release Mondoo Edge Container Image

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Mondoo client version'
        required: true

jobs:
  build_container:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    name: Build Docker
    steps:
      - name: Clean Version
        id: version
        run: |
          VERSION="${{ inputs.version}}"
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          image: tonistiigi/binfmt:latest
          platforms: arm64,arm

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push root images (alpine)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/386,linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          push: true
          build-args: |
            BASEURL=https://releases.mondoo.com/edge/mondoo/${{ steps.version.outputs.version }}
            VERSION=${{ steps.version.outputs.version }}
          target: root
          tags: |
            mondoo/client:edge-${{ steps.version.outputs.version }}
            mondoo/client:edge-latest

      - name: Build and push rootless images (alpine)
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/386,linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          push: true
          build-args: |
            BASEURL=https://releases.mondoo.com/edge/mondoo/${{ steps.version.outputs.version }}
            VERSION=${{ steps.version.outputs.version }}
          target: rootless
          tags: |
            mondoo/client:edge-${{ steps.version.outputs.version }}-rootless
            mondoo/client:edge-latest-rootless
