name: Create installer GitHub Release

on:
  repository_dispatch:
    types: [trigger-release]
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: "The version to release"

env:
  # C07QZDJFF89 == #release-coordination
  SLACK_BOT_CHANNEL_ID: "C07QZDJFF89"

jobs:
  parse-inputs:
    uses: ./.github/workflows/parse_inputs.yml
    with:
      version: ${{ (github.event_name == 'workflow_dispatch' && inputs.version) || github.event.client_payload.version }}

  create-gh-release:
    name: GH Release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: parse-inputs
    steps:
      - name: Dump context
        run: echo $JSON
        env:
          JSON: ${{ toJSON(github.event) }}
      - name: Check calling user
        if: ${{ github.event_name == 'repository_dispatch' && github.event.sender.login != 'mondoo-tools' }}
        run: |
          echo "This user is not allowed to trigger the workflow"
          # exit 1
      - id: slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: "${{ env.SLACK_BOT_CHANNEL_ID }}"
            text: "GitHub Actions Run"
            attachments:
              - color: "#FFFF00"
                blocks:
                  - type: "section"
                    fields:
                      - type: "mrkdwn"
                        text: "<${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}|${{ github.workflow }}>"
                      - type: "mrkdwn"
                        text: "*Status:*\n`In Progress`"
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # fetch a token for the mondoo-mergebot app
      - name: Generate token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.MONDOO_MERGEBOT_APP_ID }}
          private-key: ${{ secrets.MONDOO_MERGEBOT_APP_PRIVATE_KEY }}
      - name: Release
        id: release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: v${{ needs.parse-inputs.outputs.version }}
          generate_release_notes: true
          make_latest: true
          token: ${{ steps.generate-token.outputs.token }}
      - uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        if: ${{ always() }}
        with:
          method: chat.update
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: "${{ env.SLACK_BOT_CHANNEL_ID }}"
            ts: "${{ steps.slack.outputs.ts }}"
            text: "GitHub Actions Run"
            attachments:
              - color: "${{ (steps.release.outcome == 'success') && '#00FF00' || (steps.release.outcome == 'failure') && '#FF0000' || '#FFA500' }}"
                blocks:
                  - type: "section"
                    fields:
                      - type: "mrkdwn"
                        text: "<${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}|${{ github.workflow }}>"
                      - type: "mrkdwn"
                        text: " "
                      - type: "mrkdwn"
                        text: "*Status:*\n`${{ steps.release.outcome }}`"
