---
name: License Check

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  license-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Setup Copywrite
      uses: hashicorp/setup-copywrite@32638da2d4e81d56a0764aa1547882fc4d209636 # v1.1.3

    - name: Check Header Compliance
      run: copywrite headers --plan
