name: 'PKG: Chocolatey NuGet Release'

on:
  workflow_call:
    inputs:
      version:
        description: "Version to release"
        required: true
        type: string
        default: "8.0.0"
      skip-publish:
        description: 'Skip publish?'
        required: false
        default: false
        type: boolean
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release"
        required: true
        type: string
        default: "8.0.0"
      skip-publish:
        description: 'Skip publish?'
        required: false
        default: false
        type: boolean

jobs:
  chocotize:
    runs-on: ubuntu-latest
    steps:
      # Checkout the branch
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Generate Packages
        shell: bash
        run: |
          cd packages/chocolatey || exit
          for pkg in cnquery cnspec; do
            echo "------- GENERATING ${pkg} ----------------------"
            VERSION=${{ inputs.version }} bash ${pkg}-generate.sh
            echo ""
            echo "Install script:"
            cat ${pkg}/tools/chocolateyInstall.ps1
            echo "--------"
          done

      - name: Update Chocolatey Packages
        uses: addnab/docker-run-action@4f65fabd2431ebc8d299f8e5a018d79a769ae185 # v3
        if: ${{ ! inputs.skip-publish }}
        with:
          image: chocolatey/choco:latest
          options: -v ${{ github.workspace }}/packages/chocolatey:/packages -e CHOCO_API_KEY=${{ secrets.CHOCOLATEY_API_KEY }} -e VERSION=${{ inputs.version }}
          run: |
            SKIP="${{ inputs.skip-publish && 'echo skipping...' || '' }}"
            for pkg in cnquery cnspec; do
              echo "------- PROCESSING ${pkg} ----------------------"
              cd /packages/$pkg
              choco apikey --key ${CHOCO_API_KEY} --source https://push.chocolatey.org/
              choco pack
              $SKIP choco push --source=https://push.chocolatey.org/
            done
            echo 'Go check for the moderation status:'
            echo 'Mondoo Moderation Queue: https://community.chocolatey.org/packages?q=tag%3Amondoo&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=relevance'

