name: 'PKG: Archlinux AUR Release'

on:
  workflow_call:
    inputs:
      version:
        description: "Version to release"
        required: true
        default: "8.99.99"
        type: string
      skip:
        description: "Skip release"
        required: false
        default: false
        type: boolean
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release"
        required: true
        default: "8.0.0"
        type: string
      skip:
        description: "Skip release"
        required: false
        default: false
        type: boolean

jobs:
  update-pkgs:
    runs-on: ubuntu-latest
    name: 'Generate & Locally Commit PKGBUILDs'
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '>=1.17.0'
      - name: Execute generator (make update)
        run: |
          cd packages/archlinux
          make update
      - name: 'DEBUG: Show generated package versions'
        run: |
          cd packages/archlinux
          echo "cnquery: $(grep orignalVersion= cnquery/PKGBUILD)"
          echo "cnspec: $(grep orignalVersion= cnspec/PKGBUILD)"
          echo "mondoo: $(grep orignalVersion= mondoo/PKGBUILD)"
      - name: Publish cnquery AUR package
        if: ${{ !inputs.skip }}
        continue-on-error: true
        uses: KSXGitHub/github-actions-deploy-aur@2ac5a4c1d7035885d46b10e3193393be8460b6f1 # v4.1.1
        with:
          pkgname: cnquery
          pkgbuild: packages/archlinux/cnquery/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: ${{ inputs.version }}
          ssh_keyscan_types: rsa,ecdsa,ed25519
          force_push: 'true'
      - name: Publish cnspec AUR package
        if: ${{ !inputs.skip }}
        continue-on-error: true
        uses: KSXGitHub/github-actions-deploy-aur@2ac5a4c1d7035885d46b10e3193393be8460b6f1 # v4.1.1
        with:
          pkgname: cnspec
          pkgbuild: packages/archlinux/cnspec/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: ${{ inputs.version }}
          ssh_keyscan_types: rsa,ecdsa,ed25519
          force_push: 'true'
      - name: Publish mondoo AUR package
        if: ${{ !inputs.skip }}
        continue-on-error: true
        uses: KSXGitHub/github-actions-deploy-aur@2ac5a4c1d7035885d46b10e3193393be8460b6f1 # v4.1.1
        with:
          pkgname: mondoo
          pkgbuild: packages/archlinux/mondoo/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: ${{ inputs.version }}
          ssh_keyscan_types: rsa,ecdsa,ed25519
          force_push: 'true'
          assets:
            packages/archlinux/mondoo/mondoo.sh
            packages/archlinux/mondoo/LICENSE.html
            packages/archlinux/mondoo/OSS-LICENSES.tar.xz
            packages/archlinux/mondoo/mondoo.service
