name: "Build & Release mondoo Meta-Package"

on:
  workflow_call:
    inputs:
      version:
        description: 'Version that should be released'
        required: true
        default: '8.99.99'
        type: 'string'
      skip-publish:
        description: 'Skip publish?'
        required: false
        default: false
        type: boolean
      bucket:
        description: 'GCP Release Bucket Name'
        required: true
        default: 'releases-us.mondoo.io'
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: 'Version that should be released'
        required: true
        default: '1.2.3'
        type: 'string'
      skip-publish:
        description: 'Skip publish?'
        required: false
        default: false
        type: boolean
      bucket:
        description: 'GCP Release Bucket Name'
        required: true
        default: 'releases-us.mondoo.io'
        type: choice
        options:
          - 'releases-us.mondoo.io'
          - 'releases-com-test'

jobs:
  build-mondoo-payloads:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ inputs.version }}
    steps:
      - uses: actions/checkout@v4
      - name: Create destination folder
        run: |
          cd  helper
          mkdir packages
      - name: Install RPM tools
        run: |
          sudo apt update && sudo apt install -y rpm gpg
      - name: Authenticate with GCloud
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Setup GCloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Download Signing Keys
        env:
          KEY_PATH: ${{ runner.temp }}
        run: |
          gcloud --project=mondoo-base-infra secrets versions access latest --secret=gpg-package-signing-cert-public-2023 --out-file=${KEY_PATH}/public.gpg
          gpg --import ${KEY_PATH}/public.gpg
          gcloud --project=mondoo-base-infra secrets versions access latest --secret=gpg-package-signing-cert-private-2023 --out-file=${KEY_PATH}/private.gpg
          gpg --import --allow-secret-key-import ${KEY_PATH}/private.gpg
      - name: Check GPG Keys
        run: |
          gpg --list-keys
          gpg --list-secret-keys
      - name: Build Packages
        run: |
          cd helper && make
      - name: Sign RPMs
        run: |
          cd helper/
          rpmsign --define='%_gpg_name Mondoo Inc' --addsign ./packages/*rpm
      - name: Generate Checksums
        run: |
          cd helper/packages
          sha256sum *linux* > checksums.linux.txt
      - name: Upload files to releases.mondoo.com
        env:
          SKIP: ${{ inputs.skip-publish && 'echo skipping...' || '' }}
        run: |
          $SKIP gsutil cp -r helper/packages/* gs://${{ inputs.bucket }}/mondoo/${{ inputs.version }}/
      - name: Upload files to GitHub Release Page
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ inputs.version }}
          files: helper/packages/*
      - name: Create Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mondoo-${{ inputs.version }}
          path: helper/packages/
          retention-days: 7

  update-downstream:
    runs-on: ubuntu-latest
    needs: build-mondoo-payloads
    ## Matrix task, repeats steps for each repo
    strategy:
      matrix:
        repo: ["mondoohq/repobuilder"]
    steps:
      - name: Repository Dispatch (Release)
        uses: peter-evans/repository-dispatch@v3
        if: ${{ !inputs.skip-publish }}
        with:
          token: ${{ secrets.REPO_API_TOKEN }}
          repository: ${{ matrix.repo }}
          event-type: update
          client-payload: '{"version": "${{ inputs.version }}"}'