name: "Build & Release mondoo Meta-Package"

on:
  workflow_call:
    inputs:
      version:
        description: 'Version that should be released'
        required: true
        default: '8.99.99'
        type: 'string'
      skip-publish:
        description: 'Skip publish?'
        required: false
        default: false
        type: boolean
      bucket:
        description: 'GCP Release Bucket Name'
        required: true
        default: 'releases-us.mondoo.io'
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: 'Version that should be released'
        required: true
        default: '1.2.3'
        type: 'string'
      skip-publish:
        description: 'Skip publish?'
        required: false
        default: false
        type: boolean
      bucket:
        description: 'GCP Release Bucket Name'
        required: true
        default: 'releases-us.mondoo.io'
        type: choice
        options:
          - 'releases-us.mondoo.io'
          - 'releases-com-test'

jobs:
  build-mondoo-payloads:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ inputs.version }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Create destination folder
        run: |
          cd  helper
          mkdir packages

      - name: Install RPM tools
        run: |
          sudo apt update && sudo apt install -y rpm gpg

      - name: Authenticate with GCloud
        uses: 'google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093' # v3.0.0
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Setup GCloud SDK
        uses: 'google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db' # v3.0.1

      - name: "Import Signing Keys"
        run: |
          gpgkey="$(mktemp -t gpgkey.XXX)"
          gpgpubkey="$(mktemp -t gpgpubkey.XXX)"
          base64 -d <<<"$GPG_KEY" > "$gpgkey"
          base64 -d <<<"$GPG_PUBKEY" > "$gpgpubkey"
          gpg --batch --import --passphrase "$GPG_PASSPHRASE" --pinentry-mode loopback "$gpgkey" "$gpgpubkey"
          rm "$gpgkey" "$gpgpubkey"
        env:
          GPG_KEY: "${{ secrets.GPG_KEY}}"
          GPG_PUBKEY: "${{ secrets.GPG_PUBKEY}}"
          GPG_PASSPHRASE: "${{ secrets.GPG_PASSPHRASE}}"

      - name: Check GPG Keys
        run: |
          gpg --list-keys
          gpg --list-secret-keys

      - name: Build Packages
        run: |
          cd helper && make

      - name: Sign RPMs
        run: |
          cd helper/
          rpmsign \
              --define='%_gpg_name Mondoo Inc' \
              --define='%__gpg_sign_cmd %{__gpg} gpg --batch --no-armor --pinentry-mode loopback --passphrase "${{ secrets.GPG_PASSPHRASE }}" %{?_gpg_digest_algo:--digest-algo %{_gpg_digest_algo}} --no-secmem-warning -u "%{_gpg_name}" -sbo %{__signature_filename} %{__plaintext_filename}' \
              --addsign ./packages/*rpm

      - name: Generate Checksums
        run: |
          cd helper/packages
          sha256sum *linux* > checksums.linux.txt

      - name: Upload files to releases.mondoo.com
        env:
          SKIP: ${{ inputs.skip-publish && 'echo skipping...' || '' }}
        run: |
          $SKIP gsutil cp -r helper/packages/* gs://${{ inputs.bucket }}/mondoo/${{ inputs.version }}/

      - name: Upload files to GitHub Release Page
        if: ${{ !inputs.skip-publish }}
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: v${{ inputs.version }}
          files: helper/packages/*

      - name: Create Artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: mondoo-${{ inputs.version }}
          path: helper/packages/
          retention-days: 7

  update-downstream:
    runs-on: ubuntu-latest
    needs: build-mondoo-payloads
    ## Matrix task, repeats steps for each repo
    strategy:
      matrix:
        repo: ["mondoohq/repobuilder"]
    steps:
      - name: Repository Dispatch (Release)
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        if: ${{ !inputs.skip-publish }}
        with:
          token: ${{ secrets.REPO_API_TOKEN }}
          repository: ${{ matrix.repo }}
          event-type: update
          client-payload: '{"version": "${{ inputs.version }}"}'
