name: Sign PowerShell Scripts

on:
  workflow_dispatch:
    inputs:
      skip-publish:
        description: "Skip publishing"
        required: false
        default: false
        type: boolean
      skip-upload:
        description: "Skip uploading signed artifacts to workflow"
        required: false
        default: false
        type: boolean
      use-test-cert:
        description: "Use test certificate profile (not publicly trusted)"
        required: false
        default: false
        type: boolean
  push:
    branches:
      - main
    paths:
      - "install.ps1"
      - "download.ps1"
      - "powershell/Mondoo.Installer/Mondoo.Installer.psm1"
      - "powershell/Mondoo.Installer/Mondoo.Installer.psd1"

# Once Azure Signing is live, remember to delete
# - "secrets.SM_CLIENT_CERT_FILE_B64
# - "secrets.SM_CLIENT_CERT_PASSWORD"
# - "secrets.SM_API_KEY"
# - "secrets.SM_HOST"
# - "secrets.SM_CODE_SIGNING_CERT_SHA1_HASH"
# - "secrets.SM_CERT_ALIAS"
# These where from the old Digicert setup
# and are no longer used.

permissions:
  # Required for OIDC to be generated
  id-token: write
  # Required for the commit back of the signed scripts
  contents: write

jobs:
  sign_scripts:
    name: Sign PowerShell scripts
    runs-on: windows-2025
    environment: prod
    steps:
      - name: Dump all inputs
        run: echo "${{ toJSON(inputs) }}"

      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # Use sparse checkout to only get the necessary files
          # This helps speed up the checkout process
          # Please ensure any new files that need signing are added here
          # and all the other tasks in this workflow.
          sparse-checkout: |-
            install.ps1
            download.ps1
            powershell/Mondoo.Installer/Mondoo.Installer.psm1
            powershell/Mondoo.Installer/Mondoo.Installer.psd1

      - name: Azure login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.TSIGN_AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.TSIGN_AZURE_TENANT_ID}}
          subscription-id: ${{ vars.TSIGN_AZURE_SUBSCRIPTION_ID }}

      - name: Sign files with Trusted Signing
        uses: azure/trusted-signing-action@1d365fec12862c4aa68fcac418143d73f0cea293 # v0.5.11
        with:
          endpoint: ${{ vars.TSIGN_AZURE_ENDPOINT }}
          trusted-signing-account-name: ${{ vars.TSIGN_ACCOUNT_NAME }}
          # Conditional logic for switching certificate-profile-name type
          certificate-profile-name: ${{ inputs.use-test-cert == true && vars.TSIGN_TEST_CERT_PROFILE_NAME || vars.TSIGN_CERT_PROFILE_NAME }}
          files: |
            ${{ github.workspace }}\install.ps1
            ${{ github.workspace }}\download.ps1
            ${{ github.workspace }}\powershell\Mondoo.Installer\Mondoo.Installer.psm1
            ${{ github.workspace }}\powershell\Mondoo.Installer\Mondoo.Installer.psd1
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA384
          exclude-environment-credential: true
          exclude-workload-identity-credential: true
          exclude-managed-identity-credential: true
          exclude-shared-token-cache-credential: true
          exclude-visual-studio-credential: true
          exclude-visual-studio-code-credential: true
          exclude-azure-cli-credential: false
          exclude-azure-powershell-credential: true
          exclude-azure-developer-cli-credential: true
          exclude-interactive-browser-credential: true

      - name: Upload signed scripts
        if: ${{ inputs.skip-upload != true }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: signed-powershell-scripts
          path: |
            ${{ github.workspace }}\install.ps1
            ${{ github.workspace }}\download.ps1
            ${{ github.workspace }}\powershell\Mondoo.Installer\Mondoo.Installer.psm1
            ${{ github.workspace }}\powershell\Mondoo.Installer\Mondoo.Installer.psd1
          retention-days: 14

      - name: Commit changes
        # Only commit changes if not skipping AND not using a test certificate.
        # We don't want test-signed artifacts to be
        # potentially merged into our production branches.
        if: ${{ inputs.skip-publish == false && inputs.use-test-cert == false }}
        run: |
          # Force Git Config to use CRLF
          git config core.autocrlf false
          git config core.eol crlf
          # commit changes
          git config --global user.email "tools@mondoo.com"
          git config --global user.name "Mondoo Tools"
          git add install.ps1
          git add download.ps1
          git add powershell/Mondoo.Installer/Mondoo.Installer.psm1
          git add powershell/Mondoo.Installer/Mondoo.Installer.psd1
          git commit -m "Sign powershell scripts"
          git push
