name: Test Mondoo Releases with Container Builds

on:
  workflow_run:
    workflows: ["Update Release Version"] # runs after release
    types:
      - completed
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "install.sh"

jobs:
  build_container:
    runs-on: ubuntu-latest
    env:
      # C07R9GSGKEU == #mondoo-ops
      SLACK_BOT_CHANNEL_ID: "C07R9GSGKEU"
    timeout-minutes: 10
    strategy:
      matrix:
        dockerfile:
          - "almalinux.Dockerfile"
          - "amazonlinux2.Dockerfile"
          - "debian.Dockerfile"
          - "opensuse_leap.Dockerfile"
          - "redhat.Dockerfile"
          - "ubuntu.Dockerfile"
    name: Install Mondoo
    steps:
      - name: Clone repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - id: slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: "${{ env.SLACK_BOT_CHANNEL_ID }}"
            text: "GitHub Actions Run"
            attachments:
              - color: "#FFFF00"
                blocks:
                  - type: "section"
                    fields:
                      - type: "mrkdwn"
                        text: "<${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}|${{ github.workflow }} (${{ matrix.dockerfile}})>"
                      - type: "mrkdwn"
                        text: "*Status:*\n`In Progress`"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          image: tonistiigi/binfmt:latest
          platforms: arm64,arm

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: test/install_sh/${{ matrix.dockerfile }}
          push: false
          tags: |
            mondoohq/mondoo-install-test:${{ matrix.dockerfile }}

      - uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        if: always()
        with:
          method: chat.update
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            channel: "${{ env.SLACK_BOT_CHANNEL_ID }}"
            ts: "${{ steps.slack.outputs.ts }}"
            text: "GitHub Actions Run"
            attachments:
              - color: "${{ job.status == 'success' && '#00FF00' || job.status == 'failure' && '#FF0000' || '#FFA500' }}"
                blocks:
                  - type: "section"
                    fields:
                      - type: "mrkdwn"
                        text: "<${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}|${{ github.workflow }} (${{ matrix.dockerfile }})>"
                      - type: "mrkdwn"
                        text: "*Status:*\n`${{ job.status }}`"
