---
name: ShellCheck

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions: {}

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          ignore_paths: examples
          scandir: '.'