name: Test PowerShell Module

on:
  workflow_dispatch:

jobs:
  pwsh_module_installation:
    name: Run PowerShell install module
    runs-on: windows-2022
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install mondoo package
        shell: powershell
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Get-PSRepository
          Install-Module -Name Mondoo.Installer -Force
          Install-Mondoo
          & 'C:\Program Files\Mondoo\cnspec.exe' version
