name: Test Mondoo Releases with Container Builds

on:
  workflow_run:
    workflows: ['Update Release Version'] # runs after release
    types:
      - completed
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'install.sh'

jobs:
  build_container:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        dockerfile:
          - "almalinux.arm64.Dockerfile"
          - "almalinux.Dockerfile"
          - "amazonlinux2.Dockerfile"
          - "debian.Dockerfile"
          - "opensuse_leap.Dockerfile"
          - "redhat.Dockerfile"
          - "ubuntu.Dockerfile"
    name: Install Mondoo
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: arm64,arm

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: test/install_sh/${{ matrix.dockerfile }}
          push: false
          tags: |
            mondoohq/mondoo-install-test:${{ matrix.dockerfile }}

      - name: Discord notification
        uses: Ilshidur/action-discord@0.3.2
        if: failure()
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: ':warning: Mondoo install failed in test container!  (https://github.com/mondoohq/installer/actions/workflows/test_with_container_build.yml)'
