name: "Test Release: install.ps1"

on:
  workflow_call:
    inputs:
      version:
        description: "Version to test"
        required: true
        default: "9.0.0"
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: "Version to test"
        required: true
        default: "9.0.0"

jobs:
  install-ps1-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        os: ["windows-latest"]
        package: ["cnquery", "cnspec"]
    steps:
      - uses: actions/checkout@v4
      - name: Version
        id: version
        run: |
          $v='${{ github.event.inputs.version }}'
          $version=$v.trim("v","V")
          echo "version=$version" >> $env:GITHUB_OUTPUT
      - name: Install.ps1/${{ matrix.package }} on ${{ matrix.os }}
        run: |
          Set-ExecutionPolicy Unrestricted -Scope Process -Force;
          [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072;
          iex ((New-Object System.Net.WebClient).DownloadString('https://install.mondoo.com/ps1/${{ matrix.package }}'));
          Install-Mondoo -Product ${{ matrix.package }};
      - name: Verify the correct version is installed
        run: |
          $version=& 'C:\Program Files\Mondoo\${{ matrix.package }}.exe' version
          $match=$version -like "*${{ steps.version.outputs.version }}*"
          if (-not $match) {
            exit 1
          }
