name: "Test Release: Homebrew"

on:
  workflow_call:
    inputs:
      version:
        description: "Version to test"
        required: true
        default: "9.0.0"
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: "Version to test"
        required: true
        default: "9.0.0"

jobs:
  formulae:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        package: ["cnquery", "cnspec"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl --retry 10 --retry-delay 60 -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

      - name: Testing install of ${{ matrix.package }}....
        run: |
          brew tap mondoohq/mondoo
          brew install ${{ matrix.package }}

      - name: Version
        id: version
        run: |
          V=${{ inputs.version }}
          VERSION=$(echo $V | sed 's/^v//')
          echo "package_version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Executing ${{ matrix.package }}....
        run: |
          ${{ matrix.package }} version
      - name: Verify the correct version is installed
        run: |
          ${{ matrix.package }} version | grep -q ${{ steps.version.outputs.package_version}}

  cask:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl --retry 10 --retry-delay 60 -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

      - name: Testing install of mondoo cask....
        run: |
          brew install --cask mondoohq/mondoo/mondoo

      - name: Version
        id: version
        run: |
          V=${{ inputs.version }}
          VERSION=$(echo $V | sed 's/^v//')
          echo "package_version=${VERSION}" >> $GITHUB_OUTPUT
      - name: Executing cnspec from Mondoo package....
        run: |
          /Library/Mondoo/bin/cnspec version
      - name: Verify the correct version is installed
        run: |
          /Library/Mondoo/bin/cnspec version | grep -q ${{ steps.version.outputs.package_version}}
