name: Test PowerShell Module

on:
  workflow_dispatch:

jobs:
  pwsh_module_installation:
    name: Run PowerShell install module
    runs-on: windows-2022
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install mondoo package
        shell: powershell
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Get-PSRepository
          Install-Module -Name Mondoo.Installer -Force
          Install-Mondoo
          & 'C:\Program Files\Mondoo\cnspec.exe' version